@model BliotecaApp.Models.PrestamoLibro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrestamoLibro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libro.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestamo.PrestamoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrestamoLibroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
